[Unit]
Description=regular system to run in background
Documentation=https://www.martinezmanor.com/www/trip_plan/show_map

[Service]
EnvironmentFile=-/etc/default/temp_recorder
ExecStart=/var/lib/temp_recorder/temp_recorder.py $EXTRA_OPTS
IgnoreSIGPIPE=false
KillMode=process

[Install]
WantedBy=multi-user.target

